/**
 * $Id$
 * 
 * @file
 * Styles for the imagesearchfield
 */

.imagesearchfield_singleimage {
  padding: 5px;
  background: #FF0000;  
}

.imagesearchfield_singleimage.approved-image {
  background: #00FF00; 
}